@import "../../styles/variables";

$btn-border-radius: $border-radius-root !default;
$btn-border-color: map-deep-get(
  $packetframe-theme,
  "border",
  "primary"
) !default;
$btn-border-color-solid: map-deep-get(
  $packetframe-theme,
  "border",
  "primary"
) !default;
$btn-border-width: $border-width-root !default;
$btn-background-active: map-deep-get(
  $packetframe-theme,
  "text-solid",
  "primary"
) !default;
$btn-transition: $primary-transition !default;
