@import "./variables";
@import "../../styles/ripple";

.pf-btn {
  display: inline-flex;
  align-items: center;
  border-radius: $btn-border-radius;
  border: $btn-border-width solid $btn-border-color-solid;
  margin: 0;
  padding: 0;
  font-size: 14px; //TODO: Decide on font-size system based on sizes...
  height: 34px; //TODO: make this dependent on the size-? system
  background-color: map-get($elevation-colors, "0");
  color: map-deep-get($packetframe-theme, "text", "primary");
  cursor: pointer;
  $transitions: background-color $btn-transition, border-color $btn-transition; 
    @include ripple($btn-border-color, $btn-background-active, $transitions);

  &:hover {
    background-color: $btn-border-color;
    
    

    .pf-btn__content {
      transition: color $btn-transition;
      color: map-get($elevation-colors, "0");
    }
  }

//   &:active {
//     border-color: $btn-background-active;
//     background-color: $btn-background-active;
//   }

  &:focus {
    outline: none;
  }

  &.rounded {
    border-radius: 9999px;
    .pf-btn__icon {
      height: 34px;
      border: $btn-border-width solid $btn-border-color-solid;
      border-radius: 9999px;
    }
  }

  .pf-btn__content {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0rem 1rem; //TODO: Implement adjustable sizes...
  }

  .pf-btn__icon {
    background-color: map-get($elevation-colors, "0");
    border: $btn-border-width solid $btn-border-color;
    border-top-left-radius: $btn-border-radius;
    border-bottom-left-radius: $btn-border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -2px;
    height: 34px;
    width: 34px;
  }
}
