@use "../variables" as *;

// From https://github.com/TheComputerM/svelte-materialify/blob/master/packages/svelte-materialify/src/styles/generic/_spacing.scss
@for $i from 0 through 16 {
  @each $mORp, $marginORpadding in ("m": "margin", "p": "padding") {
    @each $type,
      $suffix
        in ("a": "", "l": "-left", "r": "-right", "t": "-top", "b": "-bottom")
    {
      .#{$mORp}#{$type}-#{$i} {
        #{$marginORpadding}#{$suffix}: $spacer * $i !important;
      }
      .#{$mORp}#{$type}-n#{$i} {
        #{$marginORpadding}#{$suffix}: $spacer * -$i !important;
      }
    }
  }
}

@each $mORp, $marginORpadding in ("m": "margin", "p": "padding") {
  @each $type,
    $suffix
      in ("a": "", "l": "-left", "r": "-right", "t": "-top", "b": "-bottom")
  {
    .#{$mORp}#{$type}-auto {
      #{$marginORpadding}#{$suffix}: auto !important;
    }
  }
}

@each $name, $color in map-deep-get($packetframe-theme, "states") {
  @each $type in ("border-color", "color") {
    .#{$type}-#{$name} {
      #{$type}: $color !important;
    }
  }
}
