@import "../../styles/variables";

$select-border-radius: $border-radius-root !default;
$select-border-color: map-get($accent-colors, "4") !default;
$select-border-width: $border-width-root !default;

$select-color: $select-border-color !default;
$select-background: map-get($elevation-colors, "0") !default;

// Focused
$select-border-color-focused: map-get($accent-colors, "7") !default;
$select-color-focused: $select-border-color-focused !default;

// Items
$select-item-background: $select-background !default;
$select-item-color: $select-color-focused !default;

// Items hover
$select-item-hover-background: map-get($elevation-colors, "4") !default;
$select-item-hover-color: $select-color !default;

// List
$select-list-border-color: map-get($accent-colors, "5") !default;

$select-padding: $spacer * 2;

// Disabled
$select-border-color-disabled: map-get($accent-colors, "2") !default;
$select-color-disabled: $select-border-color-disabled !default;
