@import "./variables";

.pf-select {
  // TODO: The select text label doesn't line up with labels of the Input component
  margin: $spacer;
  display: flex;
  flex-direction: column;
  width: auto;
  padding-bottom: 19px;
  font-size: 14px;
  color: $select-color;

  --border: #{$select-border-width} solid #{$select-border-color};
  --borderRadius: #{$select-border-radius};
  --borderFocusColor: #{$select-border-color-focused};

  --background: #{$select-background};
  --placeholderColor: #{$select-color};
  --inputColor: #{$select-color-focused};

  --itemColor: #{$select-item-color};
  --itemFirstBorderRadius: #{$select-border-radius};
  --itemHoverBG: #{$select-item-hover-background};
  --itemIsActiveColor: #{$select-item-color};
  --itemIsActiveBG: #{$select-item-hover-background};
  --itemActiveBackground: #{$select-item-hover-background};

  --listBackground: #{$select-background};
  --listBorderRadius: #{$select-border-radius};

  --clearSelectColor: #{$select-color};
  --clearSelectFocusColor: #{$select-color-focused};

  --indicatorColor: #{$select-color};
  --height: #{$spacer * 8.5};
  --indicatorTop: #{$spacer * (8.5 / 2) - 10};

  --disabledBackground: #{$select-background};
  --disabledBorderColor: #{$select-border-color-disabled};
  --disabledColor: #{$select-color-disabled};

  &.icon {
    --selectedItemPadding: 0 10px 0 8px;
    --inputPadding: 0 0px 0 40px;
    .pf-select__icon {
      color: #{$select-color};
    }
  }

  .listContainer {
    border: #{$select-border-width} solid #{$select-list-border-color};
  }

  .selectedItem {
    color: #{$select-color};
  }

  .selectContainer {
    --padding: #{$select-padding} !important;
    &.focused {
      --indicatorColor: #{$select-color-focused};

      .selectedItem {
        color: #{$select-color-focused};
      }
    }

    .indicator {
      z-index: 1;
    }

    input {
      z-index: 2;
    }
  }

  .pf-select__label {
    display: flex;
    padding-bottom: 1px;
  }
}
