@import "../../styles/variables";

.pf-card {
  border: 1px solid white;
  border-radius: 4px;
  padding: 20px;
}

.pf-card__header {
  font-weight: 600;
  margin: $spacer;
  padding-bottom: $spacer * 2;
}
