@import "./variables";

.pf-card {
  border: $card-border;
  border-radius: $card-border-radius;
  padding: $card-padding;
  padding-top: $card-padding / 2;
  margin: $card-margin;
  font-family: $card-body-font-family;
  color: $card-body-color;
  width: var(--width, auto);

  .pf-card__header {
    font-weight: 600;
    padding-bottom: $card-padding / 2;
    color: $card-header-color;
  }
}