.pf-nav {
  padding: 0 20px;
  display: flex;
}

ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

li {
  list-style-type: none;
  position: relative;
  display: flex;
  align-items: center;
}

li.active:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #424245;
}

ul a {
  color: #fff;
  text-decoration: none;
  display: flex;
  height: 45px;
  align-items: center;
  padding: 0 10px;
}

.pf-navs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
